.invoice-box {
	width: 800px;
	margin: auto;
	padding: 30px;
	border: 1px solid #eee;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	line-height: 24px;
	font-family: sans-serif;
}

.invoice-box p {
	text-align: center;
	font-size: 22px;
	padding-bottom: 40px;
}


.item {
	border-bottom: 1px solid #eee;
}


.heading {
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	padding-bottom: 20px;
}